li {
    list-style: none;
}

ul {
    display: flex;
    gap: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
}

.search-bar, .button {
    outline: none;
    border: 0;
    padding: .5em 1em;
    border-radius: 1000vmax;
}

.search-bar:focus{
    border: 2px solid black;
    transition: .2s;
}

.button {
    background-color: royalblue;
    color: white;
}

.button:hover {
    background-color: darkblue;
    transition: .2s;
}